@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

  label{
    font-family: "Poppins", sans-serif;
    line-height: 1;
    font-weight: 500;
    font-size: 1.3rem;
    color: #5d5d5d;
  }
  .inputs {
    font-family: "Poppins", sans-serif;
    margin: 15px 0;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  .inputs::placeholder{
    color: #aaa;
    font-weight: 500;
  }
  span{
    font-size: 1.1rem;

  }